@charset "UTF-8";

/* Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(156, 156, 156);
}

header > h1{
    text-align: center;
}
menu{
    margin-bottom: 5px;
}
menu ul{
    list-style-type: none;
    background-color: gray;
}
menu li{
    background-color: rgb(87, 87, 87);
    display: inline-block;
    padding: 10px;
    color: white;
}
a, a:visited{
    color: inherit;
}
article{
    padding: 15px;
    background-color: rgb(97, 167, 144);
    width: 50vw;
    height: 70vh;
    display: block;
    margin: auto;
    border-radius: 10px;
}
article > h2{
text-align: center;
padding: 5px;
}
article > p{
    padding: 5px;
    text-indent: 10px;
}