@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: darkgray;
}
header > h1{
    text-align: center;
    padding: 10px;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: gray;
    color: white;
    border-top: 2px solid rgb(179, 179, 179);
}

span#burguer{
    background-color: rgb(44, 44, 44);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
    background-color: white;
    color: black;
    transition-duration: .2s;
    cursor: pointer;
}

menu > ul > li > a:hover{
    background-color: darkgray;
    transition-duration: 0.2s;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}