*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 20px;
    background-color: rgb(9, 143, 9);
}
main{
    margin: auto;
    padding: 10px;
    width: 80vw;
    height: 90vh;
    border-radius: 20px;
    background-color: rgb(228, 248, 228);
}

h1{
    text-align: center;
}
h2{
    padding: 10px;

}
p{
    padding: 5px;
}