@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    font-family: var(--fonte2);
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 10vw;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:visited, a:active{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
header p{
    padding-bottom: 50px;
    font-size: 2vw;
}
section{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.493), transparent);
}
main p{
    margin-bottom: 100px;
}
#flores{
    background: white url(../imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
#cartas{
    background: white url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--fonte1);
}