@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
}

body{
    font-family: Sriracha, cursive;
}
header{
    font-family: "Passion One",Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: auto;
}
h1{
    font-size: 4.5em;
}
header>p{
    font-size: 1.5em;
    font-weight:normal;
}
a, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header>h1{
    padding: 20px;
    margin: auto;
}
main p{
    line-height: 2em;
    margin-bottom: 100px;
    font-size: 2.5em;
}
.fundo{
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.493), transparent);
    max-width: 600px;
}
#flores{
    background: white url(../imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
#cartas{
    background: white url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5em;
}
footer a{
    font-weight: bold;
}