@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: 0 - 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes Telas: 1200+
------------------------------
*/

@media print{
    /* Impressões */
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
        width: 90vw;
    }
    main::after{
        text-align: justify;
        content: 'A impressão foi feita com estudos do site www.cursoemvideo.com';
        text-decoration: overline;
    }
    main h1{
        background-image: url(../imagens/back-print.jpg); /*Desnecessário*/
        text-shadow: none;
        color: black;
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#impres{ display: block; }
    img#desktop{ display: none; }
    img#televis{ display: none; }
}

/* Não tenho configurações para celular pois ele já foi feito com Mobile First */

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);

        
    }
    img#phone{ display: none; }
    img#tablet{ display: block; }
    img#impres{ display: none; }
    img#desktop{ display: none; }
    img#televis{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* Desktop */
    body{
        background-image: url(../imagens/back-pc.jpg);

    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#impres{ display: none; }
    img#desktop{ display: block; }
    img#televis{ display: none; }
}

@media screen and (min-width:1200px) {
    /* Grandes Telas */
    body{
        background-image: url(../imagens/back-tv.jpg);

    }
    main{
        width: 80vw;
    }
    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#impres{ display: none; }
    img#desktop{ display: none; }
    img#televis{ display: block; }
}